<?php
//-----------------------------------------------------------------------------
// Source database
// ---------------
// Define the source/reference database. This database is used as a reference
// for both the structure and content
//-----------------------------------------------------------------------------
$db_src = array();
$db_src['host']     = "";
$db_src['username'] = "";
$db_src['password'] = "";
$db_src['database'] = "";

//-----------------------------------------------------------------------------
// Target database
// ---------------
// Define the target database. This is the database that needs to be updated by
// the tool.
//-----------------------------------------------------------------------------
$db_target = array();
$db_target['host']     = "";
$db_target['username'] = "";
$db_target['password'] = "";
$db_target['database'] = "";

//-----------------------------------------------------------------------------
// Tables
// ------
// Define the list of tables that we need to synchronize the content for. For
// each table, the following 'mode' value must be set to one of the following:
//		- newOnly: Only upload new elements that are found in the source 
//                 database but missing on the target database.
//		- update:  Update elements which are new or have a "modified" date 
//                 newer on the source database than on the target database.
//
// The 'key' value must be set to the key to use for comparing elements between
// the 2 database instances.
//-----------------------------------------------------------------------------
$db_tables = array();
$db_tables['sample']  = array();
$db_tables['sample']['mode'] = 'update';
$db_tables['sample']['key'] = 'id';

//-----------------------------------------------------------------------------
// Prepare the config array to return
//-----------------------------------------------------------------------------
$config = array();
$config['db_src'] = $db_src;
$config['db_target'] = $db_target;
$config['db_tables'] = $db_tables;

return $config;