{
  "source": {
    "name": "name of the server where the source databases are located",
    "host": "localhost:3306",
    "username": "mysql_username",
    "password": "mysql_password"
  },
  "output": "./out",
  "databases": [
    {
      "source": "db_name",
      "namespace": {
        "model": "Company.Project.Model",
        "repository": "Company.Project.Repository",
        "repository_doctrine": "Company.Project.Repository.Doctrine"
      },
      "excludes": ["acos", "tables_to_exclude_from_generation_list"],
      "constants": ["statuses", "table_with_constant_values"]
    }
  ]
}